<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoEn3G6ZOmu8guJIDO00ZCGIAYmx2oQPM</string>
	<key>GCM_SENDER_ID</key>
	<string>980769154098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoChat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chatpdm-bd250</string>
	<key>STORAGE_BUCKET</key>
	<string>chatpdm-bd250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980769154098:ios:074da11dd67fd52d70482b</string>
	<key>DATABASE_URL</key>
	<string>https://chatpdm-bd250-default-rtdb.firebaseio.com</string>
</dict>
</plist>